@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    --doc-height: 100%;
    --bg-color: #1d1d1d;
    --pr-color: #fff;
    --sc-color: #3a3a3a;
    --txt-color: #fff;

    --m-p-large: calc(4vw + 1rem);
    --m-p-medium: calc(2vw + 1rem);
    --m-p-small: 1rem;

    --f-size-large: calc(1.5vw + 1rem);
    --f-size-small: 1rem;
    --f-size-xsmall: .75rem;

    --border: solid 1px var(--pr-color);
    --border-link: solid 1px var(--txt-color);

    --color: #fff;
    --grid-span: 1;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: auto;
    position: relative;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-size: var(--f-size-small);
    font-weight: 400;
    color: var(--txt-color);
    background-color: var(--bg-color);
    -webkit-animation: fadeIn .2s ease 1;
    animation: fadeIn .2s ease 1;
}

a,
button {
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 400;
    border-bottom: var(--border-link);
    -webkit-transition: font-style .3s ease, color 1s ease, border-bottom 1s ease;
    -o-transition: font-style .3s ease, color 1s ease, border-bottom 1s ease;
    transition: font-style .3s ease, color 1s ease, border-bottom 1s ease;
}

a:visited,
a:active {
    color: var(--txt-color);
}

a:hover,
button:hover {
    font-style: italic;
    color: var(--sc-color);
    border-bottom: solid 1px #ffffff00;
}

strong {
    font-weight: 600;
}

.--large-text {
    font-size: var(--f-size-large);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    -webkit-transition: -webkit-filter .5s ease;
    transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}

.nav {
    padding: 0 var(--m-p-large);
    background: #1d1d1d80;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}

.nav.border {
    border-bottom: var(--border);
}

.logo {
    width: 45vw;
    position: fixed;
    top: var(--m-p-large);
    right: var(--m-p-large);
    opacity: .8;
    pointer-events: none;
    -webkit-filter: blur(6px);
    filter: blur(6px);
    z-index: -1;
    -webkit-animation: fadeIn .5s ease 1;
    animation: fadeIn .5s ease 1;
}

.mobile-btn {
    display: none;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: var(--m-p-small) 0;
}

.menu-opener {
    position: absolute;
    margin: var(--m-p-small) 0;
}

.main-menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--m-p-small);
}

.menu-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: var(--f-size-xsmall);
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: font-style .3s ease, color 1s ease, border-bottom 1s ease;
    -o-transition: font-style .3s ease, color 1s ease, border-bottom 1s ease;
    transition: font-style .3s ease, color 1s ease, border-bottom 1s ease;
}

.menu-item a:hover,
.menu-item.--current a {
    font-style: italic;
    color: var(--color);
}

.dropdown-menu {
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dropdown-menu.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dropdown-menu-items {
    display: block;
}

.main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: var(--m-p-large);
    -webkit-transition: color .5s .3s ease, -webkit-filter .5s .5s ease;
    transition: color .5s .3s ease, -webkit-filter .5s .5s ease;
    -o-transition: filter .5s .5s ease, color .5s .3s ease;
    transition: filter .5s .5s ease, color .5s .3s ease;
    transition: filter .5s .5s ease, color .5s .3s ease, -webkit-filter .5s .5s ease;
    -webkit-animation: fadeIn 1s ease 1;
    animation: fadeIn 1s ease 1;
}

.grid-layout {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-column {
    grid-column: span var(--grid-span);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4rem;
}

.text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.3;
    padding: 0 var(--m-p-large);
}

.text-block:first-of-type {
    padding-top: var(--m-p-large);
}

.text-block:last-of-type {
    padding-bottom: var(--m-p-large);
}

.agenda-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--m-p-small);
    padding: 0 var(--m-p-large);
}

.agenda-block:first-of-type {
    padding-top: var(--m-p-large);
}

.agenda-block:last-of-type {
    padding-bottom: var(--m-p-large);
}

.cover-image {
    width: 100vw;
    height: auto;
    position: relative;
    border-top: var(--border);
    border-bottom: var(--border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cover-image img {
    width: 100%;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: var(--m-p-large);
    font-size: var(--f-size-small);
    color: var(--txt-color);
}

.video-block {
    margin: var(--m-p-large);
    border: var(--border);
}

.video-block video {
    width: 100%;
}

.video-block iframe {
    width: 100%;
    min-height: 75vh;
}

.gallery-block {
    padding: var(--m-p-large);
}

.gallery-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.gallery-item {
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--txt-color);
}

.gallery-item.grow {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
}

.item-preview {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: sticky;
    top: 4rem;
}

.item-preview img {
    width: 100%;
    aspect-ratio: 1 /1;
    -o-object-fit: cover;
    object-fit: cover;
    border: var(--border);
}

.item-preview p {
    font-size: var(--f-size-xsmall);
    text-transform: uppercase;
    margin-top: var(--f-size-xsmall);
}

.item-content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
}

.item-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
}

.audio-block {
    padding: 0 var(--m-p-large);
}

.audio-block:first-of-type {
    padding-top: var(--m-p-large);
}

.audio-block:last-of-type {
    padding-bottom: var(--m-p-large);
}

.audio-player {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: solid 1px var(--txt-color);
}

.audio-player svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    stroke: var(--txt-color);
    stroke-width: 1px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.audio-player-wrapper {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    display: none;
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
}

.audio-player-wrapper.toggle-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.audio-player-wrapper svg {
    width: 1.5rem;
}

.audio-player-marquee {
    position: relative;
    overflow: hidden;
    padding: 1rem;
    white-space: nowrap;
}

.audio-player-marquee.toggle-display {
    display: none;
}

.marquee-wrapper {
    font-size: 0;
}

.marquee-part {
    display: inline-block;
    line-height: 1;
    margin-right: 4rem;
}

.play-btn {
    position: relative;
    padding: 1rem;
    border-left: solid 1px var(--txt-color);
    cursor: pointer;
}

.play-btn svg {
    height: var(--f-size-large);
}

.play-icon.toggle-play {
    opacity: 0;
}

.pause-icon {
    opacity: 0;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.pause-icon.toggle-play {
    opacity: 1;
}

.audio-time {
    width: 144px;
    white-space: nowrap;
    font-size: var(--f-size-xsmall);
    font-weight: 400;
    text-align: center;
}

.audio-time span {
    white-space: nowrap;
}

.seek-slider-container {
    position: relative;
    width: 100%;
    height: var(--f-size-large);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seek-slider-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: var(--seek-before-width);
    height: var(--f-size-large);
    background-color: var(--txt-color);
    pointer-events: none;
}

input.seek-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: var(--f-size-large);
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input.seek-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
}

input.seek-slider::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
}

input.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
}

input.seek-slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
    border: none;
}

.audio-volume {
    position: relative;
    cursor: pointer;
}

.volume-icon.toggle-volume {
    opacity: 0;
}

.mute-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.mute-icon.toggle-volume {
    opacity: 1;
}

.slider-content {
    width: 50%;
    height: var(--doc-height);
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 4;
    -webkit-transition: -webkit-transform .5s .2s ease;
    transition: -webkit-transform .5s .2s ease;
    -o-transition: transform .5s .2s ease;
    transition: transform .5s .2s ease;
    transition: transform .5s .2s ease, -webkit-transform .5s .2s ease;
}

.slider-content-wrapper {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--m-p-small);
    padding-right: var(--m-p-medium);
    padding-bottom: var(--m-p-medium);
    padding-left: var(--m-p-medium);
    border-left: var(--border);
    background-color: #1d1d1d80;
}

.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.close-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: var(--m-p-small);
    cursor: pointer;
    -webkit-transition: opacity .5s ease, -webkit-filter .5s ease;
    transition: opacity .5s ease, -webkit-filter .5s ease;
    -o-transition: opacity .5s ease, filter .5s ease;
    transition: opacity .5s ease, filter .5s ease;
    transition: opacity .5s ease, filter .5s ease, -webkit-filter .5s ease;
}

.close-btn svg {
    width: var(--f-size-large);
    stroke: var(--txt-color);
    -webkit-transition: opacity 1.5s ease;
    -o-transition: opacity 1.5s ease;
    transition: opacity 1.5s ease;
}

.close-btn:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.close-btn svg:hover {
    stroke: var(--sc-color);
}

.slide-block-header {
    padding-top: var(--m-p-medium);
    margin-bottom: var(--m-p-small);
}

.slider-block-content {
    font-size: var(--f-size-small);
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

.blur {
    -webkit-filter: blur(12px);
    filter: blur(12px);
}

.footer {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem var(--m-p-large);
    border-top: var(--border);
    margin-top: -1px;
}

.footer p {
    font-size: var(--f-size-xsmall);
    text-transform: uppercase;
}

@media screen and (max-width: 620px) {
    :root {
        --m-p-large: calc(1.5vw + 1rem);
    }

    html {
        font-size: 90%;
    }

    .logo {
        width: 70vw;
    }

    .nav {
        min-width: 100%;
        min-height: 3rem;
    }

    .menu-opener:hover {
        font-style: normal;
        color: var(--txt-color);
        border-bottom: var(--border);
    }

    .main-menu {
        display: none;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 4rem;
    }

    .main-menu.visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu-items,
    .dropdown-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: .5rem;
    }

    .main {
        padding-top: calc(var(--m-p-large) * 3);
    }

    .grid-column {
        -ms-grid-column-span: 12;
        grid-column: span 12;
    }

    .gallery-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .item-preview {
        position: static;
    }

    .gallery-item.grow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: var(--m-p-small);
    }

    .close-btn {
        top: 0;
    }

    .slider-content {
        width: 100%;
    }

    .slider-content-wrapper {
        width: 100%;
    }

    .slider-block a {
        overflow-wrap: break-word;
    }

    .caption {
        position: static;
        font-size: var(--f-size-xsmall);
    }
}